<html>
    <head>
        <link rel="stylesheet" href="/static/Server.css">
        <script type="text/javascript" src="/static/Server.js"></script>
    </head>
    <body>
		<title>ANDI'S PIE</title>
		<nav class = "container">
            <h1 id="title">Remotely Accessible Inverted Pendulum</h1>
            <h2 id="subtitle">
                By Alin Butoi, Paul D’Amico, Dat Nguyen, Ross Olson, Rachel Schow <br>
                Advisor: Professor Andrew Lamperski <br>
                Sponsored by the University of Minnesota - Twin Cities <br>
            </h2>
        </nav>

        <div class = "container">
            {% block content %}
                default content
            {% endblock %}
        </div>
    </body>
</html>