{% extends "base.html" %}

{% block content %}
	<div id="upload">
		<h2>Upload a python file onto the inverted pendulum</h2>
		<p>
			{% if error %}
				<h2>{{ error }}</h2>
			{% endif %}
		</p>
	
		<form method="post" action="/upload" enctype="multipart/form-data">
			<dl>
				<p>
					<input id="choose_file" type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input id="submit" type="submit" value="Submit"> <!-- onclick="showLoad()"> -->
			</p>
		</form>
	</div>
	
	<div id="running"></div>

{% endblock %}
