{% extends "base.html" %}

{% block content %}
	<div id="upload">
		<h2>Upload a python file onto the Inverted Pendulum</h2>
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
		</p>
	
		<form method="post" action="/upload" enctype="multipart/form-data">
			<dl>
				<p>
					<input id="choose_file" type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input id="submit" type="submit" value="Submit" onclick="showLoad()">
			</p>
		</form>
	</div>
	
	<div id="message"></div>

{% endblock %}
